[submodule "vendor/submodules/emacs-color-themes"]
	path = vendor/submodules/emacs-color-themes
	url = https://github.com/owainlewis/emacs-color-themes.git
[submodule "vendor/submodules/solarized-emacs"]
	path = vendor/submodules/solarized-emacs
	url = https://github.com/bbatsov/solarized-emacs.git
[submodule "vendor/submodules/color-theme-sanityinc-tomorrow"]
	path = vendor/submodules/color-theme-sanityinc-tomorrow
	url = git://github.com/purcell/color-theme-sanityinc-tomorrow.git
[submodule "vendor/submodules/color-theme-sanityinc-solarized"]
	path = vendor/submodules/color-theme-sanityinc-solarized
	url = https://github.com/purcell/color-theme-sanityinc-solarized.git
